<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>

<body>
    <div id="erreur" style="text-align: center;">
        <H1>Erreur - 404</H1>
        <p>faut ecrire correctement</p>
        <img src="https://i.imgflip.com/9zynyi.jpg">
        <!-- <img src="https://imgs.search.brave.com/_lptcWFHm0TvnhWEtI7ny3eS4Zlnjr0xZByctHq0Qm0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YTEudGVub3IuY29t/L20veU10eklVazlh/YjRBQUFBZC9vcnNv/bi13ZWxsZXMtd2Vs/bGVzLmdpZg.gif" alt="Orson Welles gif"> -->
    </div>

    <div>
        <p>test : <a href="http://10.213.203.29:3000/bucolique">ceci</a></p>
    </div>

</body>

</html>